body {
  font-family: 'Segoe UI', sans-serif;
  background: white;
  color: black;;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 25px;
}

.back-btn {
  display: flex;
  padding: 12px 24px;
  background: blue;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  transition: all 0.3s ease;
}


